.Orders{
    border-collapse: collapse;
    border: 3px solid silver; 
    width: 80%;
    color: black;
  }
  
  .orders td,
  .orders th {
    border: 1px solid silver;
    padding: 12px;
    color: black;
  }
  
  .orders tr:hover {
    background-color: darkolivegreen;
    color: black;
  }
  
  .orders th {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
  }

  .Table {
    border-collapse: collapse;
    width: 100%;
    cursor: pointer;
    justify-content: center;
    justify-items: center;
    align-content: center;
  
  }
  
  .Table td,
  .Table th {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    padding-right: 50px;
  
  }
  
  .Table tr:hover {
    background-color: #ddd;
  }
  
  .Table th {
    text-align: left;
    /* background: #0a5eb1b7; */
    background: #fff;
  
  }