.container {
    background-size: contain;
    background-repeat: repeat;
    background-position-x: 0;
    background-position-y: 0;
    background-image: url(/pexels-laker-6157056.jpg/);
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.main {
    width: 100vh;
    padding: 1.5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


/*Styling for heading/title*/
.title{
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    background-color: black;
    border-radius: 10px;
    opacity: .7;
    color: white;
    width: fit-content;
}

/*Styling for card*/
.section {   
    padding: 1rem 0;
    height: fit-content;
    width: 200vh;
    flex: 1;
    display: flex;
    flex-direction: left;
    justify-content: center;
    align-items: center;
}

/*Left section*/

.leftSection{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 0;
    display: flex; 
    width: 35vh; 
    background: #ccc;
    padding: 10px;
    margin-right: 2%;
    border-radius: 10px;
}

/*Styling for user management section*/
  .rightSection {
    height: fit-content;
    width: 115vh;
    display: flex;
    flex-direction: column;
    background-color: crimson;
    border-color: crimson;
    border-radius: 10px;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 4;
    float: right;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .addusers{
    background-color: white;
    margin-top: -20%; 
    margin-left: -7%;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    float:left;
    align-self: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 55vh;
    height:55vh;
    background-color: white;
    border-radius: 10px;
    opacity: .9;
  }

  .InputField{
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 2px 2px 2px 2px;
    width: 45vh;
    height: 5vh;
    background-color: rgb(122, 115, 115);
    color: white;
    border-color: transparent;
    border-radius: 10px;
    font-weight: 400;
  }

  .errors{
    color: darkred;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;

  }

  .adduserBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    width: 60%;
    height: 5vh;
    background-color: black;
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: 600;
  }
  
  .adduserBtn:hover{
    background-color: rgb(98, 20, 20);
    transition-duration: 0.5s;
    opacity: 1;
    color: white;
  
  }

  
  .Table {
    margin-top: -20%;
    border-collapse: collapse;
    width: 110%;
    cursor: pointer;
    font-size: 10px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    background-color: yellowgreen;
  
  }
  
  .Table td,
  .Table th {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    padding-right: 50px;
    font-size: 14px;
  
  }
  
  .Table tr:hover {
    background-color: #ddd;
  }
  
  .Table th {
    text-align: left;
    /* background: #0a5eb1b7; */
    background: #fff;
  
  }

  /*Styling for footer*/
  .footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }

  /*Responsive*/
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }


  .section {
    width: 100%;
    display: -webkit-flex;
    display: flex;
  }
  
  /* Style the navigation menu */
  .nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  .nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style the content */
  .article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
  }
  