.container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    background-image: url(/pexels-rachel-claire-4992585.jpg/);
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    width: 100vh;
    padding: 1.5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .referencelinks{
    float: right;
    background-color: silver;
    padding: 25px 25px 10px 25px;
    height: 7vh;
    /* width:190vh; */
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */

  }

  .logo{
    background-image: url(/1.jpg/);
    padding: 20px 20px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    display: inline;
    border: 5px;
  }

  .logo:hover{
    background-color: white;
    border-radius: 40px;
    transition-duration: 0.5s;
  }

  /* Users link */

  .userlink{
    /* float: right; */
    color: black;
    padding: 14px 14px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    display: inline;
    border: 5px;
  }

  .userlink:hover{
    background-color: crimson;
    border-radius: 10px;
    color: white;
    transition-duration: 0.5s;
  }

  .userlink:active{
    background-color: crimson;
    border-radius: 10px;
    color: white;
  }

  /* Menu link */

  .menulink{
    color: black;
    padding: 14px 14px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    display: inline;
  }

  .menulink:hover{
    background-color: chocolate;
    border-radius: 10px;
    color: white;
    transition-duration: 0.5s;

  }

  .menulink:active{
    background-color: chocolate;
    border-radius: 10px;
    color: white;
  }

  /* Order Link */

  .orderlink{
    color: black;
    padding: 14px 14px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    display: inline;
  }

  .orderlink:hover{
    background-color: cornflowerblue;
    border-radius: 10px;
    color: white;
    transition-duration: 0.5s;
  }

  .orderlink:active{
    background-color: cornflowerblue;
    border-radius: 10px;
    color: white;
  }

    /* Logout Link */

    .logout{
      /* height: 50vh; */
      color: black;
      padding: 14px 14px;
      text-align: center;
      justify-content: center;
      text-decoration: none;
      display: inline;
    }
  
    .logout:hover{
      background-color: rgb(195, 0, 0);
      border-radius: 10px;
      color: white;
      transition-duration: 0.5s;
    }
  
    .logout:active{
      background-color: rgb(195, 0, 0);
      border-radius: 10px;
      color: white;
    }

  /*Styling for card*/
  .card {   
    padding: 1rem 0;
    height: fit-content;
    width: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .split{
    height: 70%;
    width: 35%;
    position: fixed;
    z-index: 1;
    top: 10%;
    overflow-x: hidden;
    padding-top: 20px;
  } */

  .users {
    height: fit-content;
    width: 100vh;
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: crimson;
    border-color: crimson;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .meals {    
    height: fit-content;
    width: 100vh;
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: chocolate;
    border-color: chocolate;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .orders {
    height: fit-content;
    width: 100vh;
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }